# ASSIGNMENT CONFIG
generate: true
export_cell: false
files:
    - data
tests:
    files: true
check_all_cell: false

# BEGIN QUESTION
name: q1
points: 2
manual: false

# BEGIN SOLUTION

In [2]:
animal = "dog" # SOLUTION

# END SOLUTION

# BEGIN TESTS

In [5]:
def test_q1(student_data):
    try:
        expected_data = "dog"
        assert expected_data == student_data
    except AssertionError:
        raise AssertionError("Incorrect answer.")
test_q1(animal) #IGNORE

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2
points: 2
manual: false

# BEGIN SOLUTION

In [7]:
# BEGIN SOLUTION NO PROMPT
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
# END SOLUTION

In [10]:
fp = os.path.join('data','Spill_Incidents_20241029.csv') # SOLUTION
spills = pd.read_csv(fp) # SOLUTION

In [13]:
length_spills = len(spills) # SOLUTION
length_spills

552947

# END SOLUTION

# BEGIN TESTS

In [15]:
def test_q2(student_data):
    try:
        expected_data = 552947
        assert expected_data == student_data
    except AssertionError:
        raise AssertionError("Incorrect answer.")
test_q2(length_spills) #IGNORE

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3
points: 2
manual: false

# BEGIN SOLUTION

In [17]:
spills.columns = spills.columns.str.lower().str.replace(' ', '_') # SOLUTION
spills.spill_date = pd.to_datetime(spills.spill_date) # SOLUTION
petr_23 = spills[ (spills.spill_date >= '2023-01-01') & (spills.spill_date<='2023-10-31') & (spills.material_family == 'Petroleum')].copy() # SOLUTION
spills_per_county = pd.DataFrame(petr_23.groupby('county').size()) # SOLUTION
spills_per_county = spills_per_county.reset_index().rename(columns={0:'n_spills'}) # SOLUTION
spills_per_county # SOLUTION

         county  n_spills
0        Albany       205
1      Allegany        30
2         Bronx       143
3        Broome        75
4   Cattaraugus        47
..          ...       ...
59   Washington        96
60        Wayne        38
61  Westchester       743
62      Wyoming        24
63        Yates         6

[64 rows x 2 columns]

# END SOLUTION

# BEGIN TESTS

In [32]:
def test_q3(student_data):
    try:
        expected_data = pd.read_csv('data/q5d_df.csv').drop(columns = 'Unnamed: 0')
        pd.testing.assert_frame_equal(expected_data, student_data)
    except AssertionError:
        raise AssertionError("Incorrect answer.")
test_q3(spills_per_county) #IGNORE

# END TESTS

# END QUESTION